/* FONTS */
@font-face {
  font-family: "TT Travels Bold";
  src: url("../fonts/tt-travels-bold.otf");
}

@font-face {
  font-family: "TT Travels DemiBold";
  src: url("../fonts/tt-travels-demibold.otf");
}

/* GLOBAL */

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "TT Travels DemiBold", "Arial", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN CONTENT */

.main-content {
  flex-grow: 1;
}
.input-container{
  background-color: #161616;
}
input {
  background: transparent;
  border-bottom-color: #d90913;
  font-size: 18px;
  border: none;
  outline: none;
  color: #B3B3B3;
}
